Services/WebContent/wsdl/Add.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Equals" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Equals" xmlns:intf="http://Equals" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Equals" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="ADD">
    <complexType>
     <sequence>
      <element name="a" type="xsd:string"/>
      <element name="b" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="ADDResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="ADDRequest">

      <wsdl:part element="impl:ADD" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ADDResponse">

      <wsdl:part element="impl:ADDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Add">

      <wsdl:operation name="ADD">

         <wsdl:input message="impl:ADDRequest" name="ADDRequest">

       </wsdl:input>

         <wsdl:output message="impl:ADDResponse" name="ADDResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddSoapBinding" type="impl:Add">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ADD">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ADDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ADDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddService">

      <wsdl:port binding="impl:AddSoapBinding" name="Add">

         <wsdlsoap:address location="http://localhost:8080/CalculeService/services/Add"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
