Services/WebContent/wsdl/Sous.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Soustraction" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Soustraction" xmlns:intf="http://Soustraction" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Soustraction" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="SOUSTRACTION">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="SOUSTRACTIONResponse">
    <complexType>
     <sequence>
      <element name="SOUSTRACTIONReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="SOUSTRACTIONRequest">

      <wsdl:part element="impl:SOUSTRACTION" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SOUSTRACTIONResponse">

      <wsdl:part element="impl:SOUSTRACTIONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Sous">

      <wsdl:operation name="SOUSTRACTION">

         <wsdl:input message="impl:SOUSTRACTIONRequest" name="SOUSTRACTIONRequest">

       </wsdl:input>

         <wsdl:output message="impl:SOUSTRACTIONResponse" name="SOUSTRACTIONResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SousSoapBinding" type="impl:Sous">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="SOUSTRACTION">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SOUSTRACTIONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SOUSTRACTIONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SousService">

      <wsdl:port binding="impl:SousSoapBinding" name="Sous">

         <wsdlsoap:address location="http://localhost:8080/CalculeService/services/Sous"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
